.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px; }

.navbar {
  width: 100%;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  padding-top: 12px; }

.hamburger_menu {
  display: none; }

.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px 1px auto auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #101010; }

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-link {
  color: #101010; }

.logo {
  height: 50px;
  object-fit: cover;
  margin-left: -26px; }

.logo.img {
  object-fit: cover;
  width: 100%; }

.hiring {
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(to right, #eaaf52, #ea5473);
  height: 25px;
  color: white;
  width: 35%;
  margin-left: -20px;
  border: transparent;
  cursor: pointer;
  font-size: 12px;
  font-family: PlayfairDisplay, sans-serif; }
  .hiring:hover {
    filter: brightness(120%); }

.images {
  width: 90%;
  margin: 50px auto  0px auto; }

.blue {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-55deg);
  position: absolute;
  background: transparent; }

.pink {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-35deg);
  position: absolute;
  background-color: transparent; }

.purple {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-20deg);
  position: absolute;
  background-color: transparent; }

.face {
  width: 66%;
  margin: 10px 10px 10px 50px;
  position: absolute;
  background-color: transparent; }

.main_content {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.headline {
  margin: -400px auto 0px auto; }
  .headline__title {
    font-family: Playfair Display, serif;
    height: 130px;
    text-align: start;
    width: 80%;
    padding-left: 10px; }
  .headline__paragraph {
    font-family: Leto, sans-serif;
    padding: 20px 10px 0px 10px;
    font-size: 14px;
    color: #6b6a69;
    width: 100%; }

.the_email {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  margin-top: -690px; }
  .the_email__join {
    height: 45px;
    margin-top: 10px;
    background-color: #4977ea;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
    font-family: Leto, sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 1px; }
  .the_email__join:hover {
    filter: brightness(120%);
    cursor: pointer; }

#email {
  height: 45px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border-color: transparent;
  font-family: Leto, sans-serif;
  padding-left: 5px; }

.no_spam {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 90%;
  font-size: 14px;
  font-family: Leto, sans-serif;
  color: #6b6a69; }
  .no_spam__checkmark {
    font-size: 13px;
    height: 15px;
    margin-left: -11px; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-evenly; }

.social_media {
  display: inline-flex;
  justify-content: space-between;
  justify-items: start;
  width: 60%;
  padding-left: 10px;
  font-family: Leto, sans-serif;
  color: #6b6a69;
  font-size: 13px; }
  .social_media a:visited {
    color: #6b6a69; }
  .social_media a:hover {
    color: black; }

.help {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 10px; }
  .help__pic {
    height: 40px; }
  .help__text {
    font-size: 14px; }
    .help__text__question {
      font-family: Playfair Display, serif; }
    .help__text__talk {
      font-family: Leto, sans-serif;
      font-weight: bold; }

@media only screen and (min-width: 401px) and (max-width: 500.9px) {
  .header {
    width: 98%; }

  .images {
    width: 80%;
    margin: 50px auto  100px auto; }

  .blue {
    width: 62%;
    margin: 10px 10px 10px 50px;
    transform: rotate(-55deg);
    position: absolute;
    background: transparent; }

  .pink {
    width: 62%;
    margin: 10px 10px 10px 50px;
    transform: rotate(-35deg);
    position: absolute;
    background-color: transparent; }

  .purple {
    width: 62%;
    margin: 10px 10px 10px 50px;
    transform: rotate(-20deg);
    position: absolute;
    background-color: transparent; }

  .face {
    width: 62%;
    margin: 10px 10px 10px 50px;
    position: absolute;
    background-color: transparent; }

  .headline {
    margin: -350px auto 0px auto;
    width: 95%; }
    .headline__paragraph {
      font-family: Leto, sans-serif;
      padding: 0px 10px 65px 10px;
      font-size: 14px;
      color: #6b6a69; }

  .social_media {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    width: 60%;
    margin-left: 35px; }

  .main_content {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%; }

  .the_email {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 15px;
    margin-top: -690px;
    width: 95%; }
    .the_email__join {
      height: 45px;
      margin-top: 10px;
      background-color: #4977ea;
      border-radius: 5px 5px 5px 5px;
      border-color: transparent;
      font-family: Leto, sans-serif;
      color: white;
      font-size: 14px;
      letter-spacing: 1px; }
    .the_email__join:hover {
      filter: brightness(120%);
      cursor: pointer; }

  .footer {
    width: 97%; } }
@media only screen and (min-width: 501px) and (max-width: 600.9px) {
  .navbar {
    width: 100%;
    justify-content: space-around; }

  .hiring {
    width: 20%;
    margin-left: -100px; }

  .images {
    width: 80%;
    margin: 80px auto  100px auto; }

  .main_content {
    height: 1100px; }

  .headline {
    margin: -280px auto 0px auto;
    width: 90%; }
    .headline__title {
      font-family: Playfair Display, serif;
      height: 100px;
      text-align: start;
      width: 70%;
      padding-left: 60px; }
    .headline__paragraph {
      font-family: Leto, sans-serif;
      padding: 30px 10px 0px 60px;
      font-size: 14px;
      color: #6b6a69;
      width: 80%; }

  .the_email {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    margin-top: -800px;
    width: 70%;
    margin-left: 80px; }

  .footer {
    height: 150px;
    margin: 30px 0px 0px 80px; } }
@media only screen and (min-width: 601px) and (max-width: 767.9px) {
  .navbar {
    width: 90%;
    justify-content: space-around; }

  .hiring {
    width: 20%;
    margin-left: -100px; }

  .images {
    width: 90%;
    margin: 80px auto  100px auto; }

  .main_content {
    height: 1100px; }

  .headline {
    margin: -280px auto 0px auto;
    width: 100%; }
    .headline__title {
      font-family: Playfair Display, serif;
      height: 100px;
      text-align: start;
      width: 70%;
      padding-left: 60px; }
    .headline__paragraph {
      font-family: Leto, sans-serif;
      padding: 30px 10px 0px 60px;
      font-size: 14px;
      color: #6b6a69;
      width: 80%; }

  .the_email {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    margin-top: -800px;
    width: 70%;
    margin-left: 50px; }

  .footer {
    height: 150px;
    margin: 30px 0px 0px 50px; }

  .help {
    width: 35%; } }
@media only screen and (max-width: 768.9px) {
  .navbar {
    width: 100%;
    justify-content: space-around;
    margin: 25px 0px 20px 0px; }

  .hiring {
    width: 20%;
    margin-left: -100px; }

  .images {
    width: 50%;
    margin: 80px auto 100px auto; }

  .blue {
    width: 50%;
    margin: 10px auto 10px auto;
    transform: rotate(-55deg);
    position: absolute;
    background: transparent; }

  .pink {
    width: 50%;
    margin: 10px auto 10px auto;
    transform: rotate(-35deg);
    position: absolute;
    background-color: transparent; }

  .purple {
    width: 50%;
    margin: 10px auto 10px auto;
    transform: rotate(-20deg);
    position: absolute;
    background-color: transparent; }

  .face {
    width: 50%;
    margin: 10px auto 10px auto;
    position: absolute;
    background-color: transparent; }

  .main_content {
    height: 1100px; }

  .headline {
    margin: -350px auto 0px auto;
    width: 80%; }
    .headline__title {
      font-family: Playfair Display, serif;
      height: 100px;
      text-align: start;
      width: 100%;
      font-size: 40px;
      margin: 0px 0px 0px -60px; }
    .headline__paragraph {
      font-family: Leto, sans-serif;
      padding: 30px 10px 0px 0px;
      font-size: 14px;
      color: #6b6a69;
      width: 90%; }

  .the_email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -900px auto 0px auto;
    width: 80%; }
    .the_email__join {
      width: 20%;
      margin: 0px 0px 10px 10px; }

  #email {
    width: 50%; }

  .footer {
    height: 150px;
    margin: 30px 0px 0px 0px; }

  .help {
    width: 35%; }

  .sign_in_hosterr {
    display: none; }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4.2rem;
    flex-direction: column;
    background-color: #f9f4e8;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-family: PlayfairDisplay, sans-serif;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1; }

  .nav-menu a:hover {
    color: #49c4eb; }

  .nav-menu.active {
    left: 0; }

  .nav-item {
    margin: 2.5rem 0; }

  .hamburger_menu {
    display: block;
    cursor: pointer; }

  .hamburger_menu.active .bar:nth-child(2) {
    opacity: 0; }

  .hamburger_menu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg); }

  .hamburger_menu.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg); } }

/*# sourceMappingURL=styles.css.map */
