@import "./tools/mixins";

.header{
  @include header
}

.navbar{
  @include navbar
}

.hamburger_menu{
  @include hamburger
}

.bar{
  @include bars
}

.nav-menu{
  @include nav-menu
}

.nav-link{
  @include nav-link
}

.logo{
  @include logo
}
.logo.img{
  object-fit: cover;
  width: 100%;
}
.hiring{
  @include hiring
}

.images{
  @include images
}

.blue{
  @include blue
}

.pink{
  @include pink
}

.purple{
  @include purple
}

.face{
  @include model
}
.main_content{
  @include main_content
}

.headline{
  @include headline
}

.the_email{
  @include the_email
}

#email{
  @include email
}

.no_spam{
  @include no_spam
}

.footer{
  @include footer
}

.social_media{
  @include social_media
}

.help{
  @include help
}

//responsive large mobile screen

@media only screen and (min-width: 401px) and (max-width:500.9px){

  .header{
    @include header-large-mobile
  }
  .images{
    @include images-large-mob
  }
  .blue{
  @include blue-large-mobile
}

  .pink{
    @include pink-large-mobile
  }

  .purple{
    @include purple-large-mobile
  }

  .face{
    @include model-large-mobile
  }
  .headline{
    @include headline-large-mob
  }
  .social_media{
    @include social_media-large-mobile
  }
  .main_content{
    @include main_content-large-mobile
  }
  .the_email{
    @include the_email-large-mobile
  }
  .footer{
    @include footer-large-mobile
  }
}

//tablet/small tablet screen

@media only screen and (min-width: 501px) and (max-width:600.9px){

  .navbar{
    @include navbar-tablet-s 
  }

  .hiring{
    @include hiring-tablet-s
  }

  .images{
    @include images-tablet-s
  }

  .main_content{
    @include main_content-tablet-s
  }

  .headline{
    @include headline-tablet-s
  }

  .the_email{
    @include the_email-tablet-s
  }

  .footer{
    @include footer-tablet-s
  }
}

@media only screen and (min-width: 601px) and (max-width:767.9px){

  .navbar{
    @include navbar-tablet-m 
  }

  .hiring{
    @include hiring-tablet-m
  }

  .images{
    @include images-tablet-m
  }

  .main_content{
    @include main_content-tablet-m
  }

  .headline{
    @include headline-tablet-m
  }

  .the_email{
    @include the_email-tablet-m
  }

  .footer{
    @include footer-tablet-m
  }

  .help{
    @include help-tablet-m
  }

}

@media only screen and (max-width: 768.9px) {

  .navbar{
    @include navbar-tablet-t 
  }

  .hiring{
    @include hiring-tablet-t
  }

  .images{
    @include images-tablet-t
  }

  .blue{
    @include blue-tablet
    }
  
    .pink{
      @include pink-tablet
    }
  
    .purple{
      @include purple-tablet
    }
  
    .face{
      @include model-tablet
    }

  .main_content{
    @include main_content-tablet-t
  }

  .headline{
    @include headline-tablet-t
  }

  .the_email{
    @include the_email-tablet-t
  }

  #email {
    width: 50%;
  }

  .footer{
    @include footer-tablet-t
  }

  .help{
    @include help-tablet-t
  }


  .sign_in_hosterr{
    display: none;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4.2rem;
      flex-direction: column;
      background-color: #f9f4e8;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      font-family: Playfair+Display, sans-serif;
      transition: 0.5s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 1;
  }
  .nav-menu a:hover{
    color: #49c4eb;
  }
  .nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger_menu {
    display: block;
    cursor: pointer;
}

.hamburger_menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger_menu.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger_menu.active .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

}

