@mixin header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
}

@mixin navbar {
  width: 100%;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  padding-top: 12px;
}

@mixin hamburger {
  display: none;
}

@mixin bars {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px 1px auto auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #101010;
}

@mixin nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin nav-link{
  color: #101010;  
}

@mixin logo {
  height: 50px;
  object-fit: cover;
  margin-left: -26px;
}

@mixin hiring {
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(to right, #eaaf52, #ea5473);
  height: 25px;
  color: white;
  width: 35%;
  margin-left: -20px;
  border: transparent;
  cursor: pointer;
  font-size: 12px;
  font-family: Playfair+Display, sans-serif;

  &:hover{
    filter: brightness(120%);
  }
}

@mixin images {
  width: 90%;
  margin: 50px auto  0px auto;
}

@mixin blue {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-55deg);
  position: absolute;
  background: transparent;
}

@mixin pink {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-35deg);
  position: absolute;
  background-color: transparent;
}

@mixin purple {
  width: 66%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-20deg);
  position: absolute;
  background-color: transparent;
}

@mixin model {
  width: 66%;
  margin: 10px 10px 10px 50px;
  position: absolute;
  background-color: transparent;
}

@mixin headline {
  margin: -400px auto 0px auto;
  
  &__title{
    font-family: Playfair Display, serif;
    height: 130px;
    text-align: start;
    width: 80%;
    padding-left: 10px;
  }

  &__paragraph{
    font-family: Leto, sans-serif;
    padding: 20px 10px 0px 10px;
    font-size: 14px;
    color: #6b6a69;
    width: 100%;
  }
}

@mixin main_content {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin  the_email {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  margin-top: -690px;

  &__join{
    height: 45px;
    margin-top: 10px;
    background-color: #4977ea;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
    font-family: Leto, sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
  }

  &__join:hover{
    filter: brightness(120%);
    cursor: pointer;
  }
}

@mixin email {
  height: 45px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border-color: transparent;
  font-family: Leto, sans-serif;
  padding-left: 5px;
}

@mixin no_spam {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 90%;
  font-size: 14px;
  font-family: Leto, sans-serif;
  color: #6b6a69;

  &__checkmark{
    font-size: 13px;
    height: 15px;
    margin-left: -11px;
  }
}

@mixin  footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-evenly;
}

@mixin social_media {
  display: inline-flex;
  justify-content: space-between;
  justify-items: start;
  width: 60%;
  padding-left: 10px;
  font-family: Leto, sans-serif;
  color: #6b6a69;
  font-size: 13px;

  & a:visited{
    color: #6b6a69;
  }

  & a:hover{
    color: black;
  }
}

@mixin help {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 10px;

  &__pic{
    height: 40px;
  }

  &__text{
    font-size: 14px;

    &__question{
      font-family: Playfair Display, serif;
    }

    &__talk{
      font-family: Leto, sans-serif;
      font-weight: bold;
    }
  }
}

@mixin images-large-mob {
  width: 80%;
  margin: 50px auto  100px auto;
}

@mixin headline-large-mob{

  margin: -350px auto 0px auto;
  width: 95%;

  &__paragraph{
    font-family: Leto, sans-serif;
    padding: 0px 10px 65px 10px;
    font-size: 14px;
    color: #6b6a69;
  }
}
@mixin social_media-large-mobile {
  display: inline-flex;
  justify-content: space-between;
  justify-items: center;
  width: 60%;
  margin-left: 35px;
}

@mixin main_content-large-mobile {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
}

@mixin blue-large-mobile {
  width: 62%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-55deg);
  position: absolute;
  background: transparent;
}

@mixin pink-large-mobile {
  width: 62%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-35deg);
  position: absolute;
  background-color: transparent;
}

@mixin purple-large-mobile {
  width: 62%;
  margin: 10px 10px 10px 50px;
  transform: rotate(-20deg);
  position: absolute;
  background-color: transparent;
}

@mixin model-large-mobile {
  width: 62%;
  margin: 10px 10px 10px 50px;
  position: absolute;
  background-color: transparent;
}

@mixin  the_email-large-mobile {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 15px;
  margin-top: -690px;
  width: 95%;

  &__join{
    height: 45px;
    margin-top: 10px;
    background-color: #4977ea;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
    font-family: Leto, sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
  }

  &__join:hover{
    filter: brightness(120%);
    cursor: pointer;
  }
}

@mixin header-large-mobile{
  width: 98%;
}

@mixin  footer-large-mobile {
  width: 97%;
}

//tablet/small tablet screen

@mixin navbar-tablet-s {
  width: 100%;
  justify-content: space-around;
  
}

@mixin images-tablet-s {
  width: 80%;
  margin: 80px auto  100px auto;
}

@mixin hiring-tablet-s {
  width: 20%;
  margin-left: -100px;
}

@mixin headline-tablet-s {
  margin: -280px auto 0px auto;
  width: 90%;
  
  
  &__title{
    font-family: Playfair Display, serif;
    height: 100px;
    text-align: start;
    width: 70%;
    padding-left: 60px;
  }

  &__paragraph{
    font-family: Leto, sans-serif;
    padding: 30px 10px 0px 60px;
    font-size: 14px;
    color: #6b6a69;
    width: 80%;
    
  }
}

@mixin  the_email-tablet-s{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  margin-top: -800px;
  width: 70%;
  margin-left: 80px;
}

@mixin main_content-tablet-s{
  height: 1100px;
}

@mixin footer-tablet-s {
  height: 150px;
  margin: 30px 0px 0px 80px;
}

/////////////// 601px - 760px



@mixin navbar-tablet-m {
  width: 90%;
  justify-content: space-around;
  
}

@mixin images-tablet-m {
  width: 90%;
  margin: 80px auto  100px auto;
}

@mixin hiring-tablet-m {
  width: 20%;
  margin-left: -100px;
}

@mixin headline-tablet-m {
  margin: -280px auto 0px auto;
  width: 100%;
  
  
  &__title{
    font-family: Playfair Display, serif;
    height: 100px;
    text-align: start;
    width: 70%;
    padding-left: 60px;
  }

  &__paragraph{
    font-family: Leto, sans-serif;
    padding: 30px 10px 0px 60px;
    font-size: 14px;
    color: #6b6a69;
    width: 80%;
    
  }
}

@mixin  the_email-tablet-m{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  margin-top: -800px;
  width: 70%;
  margin-left: 50px;
}

@mixin main_content-tablet-m{
  height: 1100px;
}

@mixin footer-tablet-m {
  height: 150px;
  margin: 30px 0px 0px 50px;
}

@mixin help-tablet-m{
  width: 35%;
}
////Tablet
@mixin navbar-tablet-t {
  width: 100%;
  justify-content: space-around;
  margin: 25px 0px 20px 0px;
  
}

@mixin images-tablet-t {
  width: 50%;
  margin: 80px auto 100px auto;
}

@mixin blue-tablet {
  width: 50%;
  margin: 10px auto 10px auto;
  transform: rotate(-55deg);
  position: absolute;
  background: transparent;
}

@mixin pink-tablet {
  width: 50%;
  margin: 10px auto 10px auto;
  transform: rotate(-35deg);
  position: absolute;
  background-color: transparent;
}

@mixin purple-tablet {
  width: 50%;
  margin: 10px auto 10px auto;
  transform: rotate(-20deg);
  position: absolute;
  background-color: transparent;
}

@mixin model-tablet {
  width: 50%;
  margin: 10px auto 10px auto;
  position: absolute;
  background-color: transparent;
}


@mixin hiring-tablet-t {
  width: 20%;
  margin-left: -100px;
}

@mixin headline-tablet-t {
  margin: -350px auto 0px auto;
  width: 80%;
  
  
  &__title{
    font-family: Playfair Display, serif;
    height: 100px;
    text-align: start;
    width: 100%;
    font-size: 40px;
    margin: 0px 0px 0px -60px;
  }

  &__paragraph{
    font-family: Leto, sans-serif;
    padding: 30px 10px 0px 0px;
    font-size: 14px;
    color: #6b6a69;
    width: 90%;
    
  }
}

@mixin  the_email-tablet-t {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -900px auto 0px auto;
  width: 80%;

  &__join{
    width: 20%;
    margin: 0px 0px 10px 10px;
  }
}

@mixin main_content-tablet-t {
  height: 1100px;
}

@mixin footer-tablet-t {
  height: 150px;
  margin: 30px 0px 0px 0px;
}

@mixin help-tablet-t {
  width: 35%;
}







